.section-pic{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    position: relative;
    border-radius: 0;
    color: #fafafa;
    box-shadow: 0 0 8px #111;
}

.section-pic h1{
    text-shadow: 2px 2px 5px #222;
}

.section-pic h2{
    text-shadow: 1px 1px 4px #222;
}

.footer-pic{
    background-image: url('bottom.jpg');
    min-height: 180px;
}

.tunic-item{
    border-radius: 50%;
    border: 5px solid #333;
    background-color: #000;
    width: 100px;
    height: 100px;
    margin: 0 4px;
}

.tunic-item-header{
    border-radius: 50%;
    border: 7px solid #333;
    background-color: #000;
    width: 135px;
    height: 135px;
}

.tunic-card{
    border-radius: 25px;
    border: 8px double #bcaf9d;
    width: 97px;
    height: 97px;
    margin: 0 6px;
}

.shadow{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.5) !important;
}

.shadow-lg{
    box-shadow: 0 1rem 3rem rgba(0,0,0,.5) !important;
}

@media (min-width: 992px) {
    .guide-menu{
        max-height: 100vh;
    }
}