.section-pic{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    position: relative;
    border-radius: 0;
    color: #fafafa;
}

.section-pic h1{
    text-shadow: 2px 2px 5px #222;
}
